
<body>
	
	<%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/users/login" method= 'POST' class="form">
				
				<div class="div">
				 <label for="Usuario">Usuario:</label class="label">
				 <input type="Email"name="email" id="MiUsuario" required></input>
				</div>
				<div class="div">
					<label for="VICKIborralo">Contraseña:</label class="label">
					<input type="password" name="Contrasenia" id="MiContraseña" required></input>
				   </div>
				<div class="div">
				 <label for="Contraseña">Contraseña:</label class="label">
				 <input type="password" name="Contrasenia" id="MiContraseña" required></input>
				</div>
				<div class="div">
				<label for="Recordarme">Recordarme:</label>
				<input type="checkbox" name="rememberme" value="" ></input>
				</div>
				<div class="div">
				<button class="button">Iniciar sesión</button class="button">
				</div>
			</form>

	<%- include("./partials/footer") %>

</body>
</html>