
<body>
	
	<%- include("./partials/header") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/users/profile" method= 'GET' class="form">
				
				<div class="div">
				 <label for="Usuario">Usuario:</label class="label">
				 <input type="Email"name="Usuario" id="MiUsuario" required></input>
				</div>
				<div class="div">
				 <label for="Contrase침a">Contrase침a:</label class="label">
				 <input type="password" name="pass" id="MiContrase침a" required></input>
				</div>
				<div class="div">
				<label for="Recordarme">Recordarme:</label>
				<input type="checkbox" name="recordarme" value="" required></input>
				</div>
				<div class="div">
				<button class="button">Iniciar sesi칩n</button class="button">
				</div>
			</form>

	<%- include("./partials/footer") %>

</body>
</html>