

<body>
	
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/" method= 'GET' class="form" >
				<div class="div">
				 <label for="Imagen">Imagen:</label class="label">
				 <input type="file"name="Imagen" id="Imagen" required></input>
				</div>
				<div class="div">
				 <label for="NombreDelProducto">Nombre del producto:</label class="label">
				 <input type="text" name="Producto" id="MiProducto" placeholder="ej:lavarropas" required></input>
				</div>
				<div class="div">
				<label for="Descripcion">Descripción:</label class="label">
				<input type="text" name="Descripcion" id="DescripcionDelProducto" placeholder="Describa su producto" required></input>
				</div>
				<div class="div">
				<button class="button">Agregar productos</button class="button">
				</div>
			</form>

	<%- include("./partials/footer") %>
	
</body>
</html>