<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="stylesheets/css/app.css">
</head>

<body>
	
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/productAdd" method= 'GET'>
				<div>
				 <label for="Imagen">Imagen:</label>
				 <input type="file"name="Imagen" id="Imagen"></input>
				</div>
				<div>
				 <label for="NombreDelProducto">Nombre del producto:</label>
				 <input type="text" name="Producto" id="MiProducto" placeholder="ej:lavarropas"></input>
				</div>
				<div>
				<label for="Descripcion">Descripción:</label>
				<input type="text" name="Descripcion" id="DescripcionDelProducto" placeholder="Describa su producto"></input>
				</div>
				<div button class="button">Agregar producto</div>
			</form>

	<%- include("./partials/footer") %>
	
</body>
</html>