<body>
	
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>			
				<form class="Formulario" action = "/users/profile" method= 'GET' class="form">
				<div class="div">
				 <label for="Email">Email:</label class="label">
				 <input type="email"name="Email" id="Mimail" placeholder="ejemplo@gmail.com" required></input>
				</div>
				<div class="div">
				 <label for="usuario">Usuario:</label class="label">
				 <input type="text" name="Usuario" id="miusuario" placeholder="Pablo123" required></input>
				</div>
				<div class="div">
				<label for="Contraseña">Contraseña:</label class="label">
				<input type="password"name="pass" id="Micontraseña" placeholder="*******" required></input>
				</div>
				<div class="div">
				<label for="Fecha de nacimiento">Fecha de nacimiento:</label class="label">
				<input type="date"name="fecha" id="Mifechadenacimiento" placeholder="DD/MM/YYYY" required></input>
				</div>
				<div class="div">
				<label for="Nro de documento">Numero de documento:</label class="label">
				<input type="number"name="number" id="Midocumento" placeholder="ej: 45684492" required></input>
				</div>
				<div class="div">
				<label for="Foto de perfil">Foto de perfil:</label class="label">
				<input type="file"name="Foto de perfil" id="Mifotodeperfil" placeholder="https://fotodeperfil.com" required></input>
				</div>
			
				<div class="div">
				<button class="button">Guardar cambios</button>
				</div>
				</form>

	<%- include("./partials/footer") %>

</body>
</html>