

<body>
	
	<% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="Formulario" action = "/users/register" method= 'POST' class="form">
				<div class="div">
				 <label for="Email">Email:</label class="label">
				 <input type="email"name="Email" id="Mimail" placeholder="ejemplo@gmail.com" ></input>
				</div>
				<div class="div">
					<label for="Email">Nombre</label class="label">
					<input type="text"name="nombre" id="Mimail" ></input>
					<label for="Email">Apellido:</label class="label">
						<input type="text" name="apellido" id="Mimail"  ></input>
				   </div>
				<div class="div">
				 <label for="usuario">Usuario:</label class="label">
				 <input type="text" name="usuario" id="miusuario" placeholder="Pablo123" ></input>
				</div>
				<div class="div">
				<label for="Contraseña">Contraseña:</label class="label">
				<input type="password"name="pass" id="Micontraseña" placeholder="*******" ></input>
				</div>
				<div class="div">
				<label for="Fecha de nacimiento">Fecha de nacimiento:</label class="label">
				<input type="date"name="fecha" id="Mifechadenacimiento" placeholder="DD/MM/YYYY"></input>
				</div>
				<div class="div">
				<label for="Nro de documento">Numero de documento:</label class="div">
				<input type="number"name="number" id="Midocumento" placeholder="ej: 45684492"></input>
				</div>
				<div class="div">
				<label for="Foto de perfil">Foto de perfil:</label class="label">
				<input type="text"name="fotoDePerfil" id="Mifotodeperfil" placeholder=""></input>
				</div>
				<div class="div">
				<button class="button">Registrarse</button>
				</div>
				</form>

	<%- include("./partials/footer") %>

</body>
</html>